@import '~office-ui-fabric-react/dist/sass/References.scss';

.docReviewMarkReviewed {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg6;
  }
  .dateControl {
    margin: 0 0 15px 0;
    max-width: 150px;
  }
}
